{% extends '@IcsocUI/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .button-success {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgb(28, 184, 65); /* this is a green */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="pure-g" style="background-color: #3f86d5;height: 100%">
        <div class="pure-u-2-5"></div>
        <div class="pure-u-2-5" style="margin-top: 200px;">
            <form class="pure-form pure-form-stacked" action="{{ url('icsoc_security_login_check') }}" method="post">
                <div style="width: 300px;height: 250px;background-color: #c4d0ff;padding: 10px">
                    <fieldset>
                        <legend style="font-size: 1.5em">用户登录</legend>
                        {% if error %}
                            <h3 style="color: red;">{{ error.message|trans }}</h3>
                        {% endif %}
                        <div class="pure-u-1" style="margin-bottom: 10px">
                            <label for="username"></label>
                            <input type="text" id="username" class="pure-input-1" name="_username" placeholder="账号" value="{{ last_username }}" />
                        </div>
                        <div class="pure-u-1" style="margin-bottom: 10px">
                            <label for="password"></label>
                            <input type="password" id="password" class="pure-input-1" placeholder="密码" name="_password" />
                        </div>
                        <div class="pure-u-1" style="margin-bottom: 10px">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="button-success pure-button pure-input-1">
                                <i class="fa fa-save"></i> 登录
                            </button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="pure-u-1-5"></div>
    </div>
{% endblock %}